<section>
  <p-dataView
    #dv
    [loading]="loading"
    [value]="cars"
    filterBy="brand"
    layout="grid"
    [rows]="12"
  >
    <ng-template pTemplate="header">
      <div class="flex flex-column flex-row justify-content-between">
        <input
          type="search"
          pInputText
          placeholder="Search by brand"
          (input)="filter(dv, $event)"
        />
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
    </ng-template>
    <ng-template let-car pTemplate="gridItem">
      <section class="col-12 md:col-3 pather-item ">
        <div class="item flex justify-content-center">
          <div class="">
            <img src="{{ car.photo }}" alt="foto del carro"/>
            <div class="flex justify-content-between align-items-center">
              <p>{{ car.brand }}</p>
              <button routerLink="detail/{{car.id}}">Detalle</button>
            </div>
          </div>
        </div>

      </section>
    </ng-template>
  </p-dataView>
</section>
