.pather-item {
    padding: 0 5px;

    .item {
        width: 100%;
        box-shadow: 0 0 8px 0 #d5d5d5;
        margin: 0 auto;

        img {
            width: 150px;
            height: 100px;
        }

        p {
            text-align: center;
        }
    }
}
