<section>
  <section>
    <img [src]="car.photo">
  </section>
  <section>
    <p>{{car.brand}}</p>
    <p>{{car.model}}</p>
    <p>{{car.year}}</p>
    <p>{{car.price | currency: ''}}</p>
  </section>
</section>
